h1{
    text-align: center;
    font-size: 100px;
    color: blanchedalmond;
    
}
body{
    background-color: darkgoldenrod;
}
p{
    text-align: center;
    font-size: 30px;
}
div{
    text-align: center;
    font-style: italic;
    color: blue;
}