body{
    background-color: chocolate;
    text-align: center;

}
h5 ,h6{
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    text-align: center;
}
h1,h3{
    color: antiquewhite;

}